---
stages:
  - test_["2.4.1", {"puppet_version"=>"~> 5.0.0"}]

before_script:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system
  - gem update bundler
  - gem --version
  - bundle -v
  - bundle install --without system_tests

rubocop-["2.4.1", {"puppet_version"=>"~> 5.0.0"}]:
  stage: test_["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  image: ruby:["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  script:
    - bundle exec rake rubocop

syntax-["2.4.1", {"puppet_version"=>"~> 5.0.0"}]:
  stage: test_["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  image: ruby:["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  script:
    - bundle exec rake syntax lint

metadata-["2.4.1", {"puppet_version"=>"~> 5.0.0"}]:
  stage: test_["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  image: ruby:["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  script:
    - bundle exec rake metadata_lint

rspec-puppet-["2.4.1", {"puppet_version"=>"~> 5.0.0"}]:
  stage: test_["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  image: ruby:["2.4.1", {"puppet_version"=>"~> 5.0.0"}]
  variables:
    PUPPET_GEM_VERSION: ~> 4.0
    CHECK: spec
  script:
    - bundle update
    - bundle exec rake $CHECK

