---
sudo: false
dist: trusty
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system
  - gem update bundler
  - gem --version
  - bundle -v
script:
  - 'bundle exec rake $CHECK'
bundler_args: --without system_tests
rvm:
  - 2.4.1
env:
  - PUPPET_GEM_VERSION="~> 6.1" CHECK=spec
matrix:
  fast_finish: true
  include:
    -
      env: CHECK=rubocop
    -
      env: CHECK="syntax lint"
    -
      env: CHECK=metadata_lint
    -
      env: CHECK=spec
    -
      env: PUPPET_GEM_VERSION="~> 5.0" CHECK=spec
      rvm: 2.4.1

branches:
  only:
    - master
    - /^v\d/

notifications:
  email: false

deploy:
  provider: puppetforge
  user: cudgel
  password:
    secure: "11I1lU0Q1EqtKTowLzSDnzDGkQI9lCB4Y1z2+aPJEj9jbfMQ6kUXnbmIIRhjSBpHa2evtVgPRROJGaD2GQbjGvNsfOVM9ZjdRDUgTurLTeLUYNvyvgwnVqehGdxExL1mp+diMuYusc4RdGxNxjTPnjcdjELSdE+BKJ779jpry+2fvH1c4hYoJf0kJ9zWBujIxg5w5z2ZZp8pYrx8alAN/XiuYS8ioeyLqOdyp9wLi7/T0kZMH5LUR0AKcQnU0mPSTpjbWy60JMQ464xzFJhHVaK8BaF/2AgGlTx9ubA0MIdEIbUMfPdVGBC4iPK/PfrhdfwGgGnvptHFcHd5l7ScZkAz4oZaDGYSlxy7g4Y6szEATrB+sij4Z2AFZyOsrr357KUFpJGq9G7Oboq5H03fWYGBh+RwpFhkAbdF8zoK07+UOjecHdWfw5KdUIu2o1nTYmsMIe6b47KdrDEym3jAtOF2PyB6gVqxXtMF+y0XG3bDECZGecL1NEHKlupEvc5A/tu6JmdUFqwdFRpe2WzO2/xcTjcxljeaTIWswth6qLd683aj4wXCM6Aayi6gaXRVE+UFyEzSagARQ8TRhZgaAT24WOp7OUH2oE/Ocahvy9m+WRucR9SswE+gc0vJhryiY+3WhSmITeBnHejaf2zJhoMwjn36pyupb4dGvDM6agc="
  on:
    tags: true
    all_branches: true
