---
sudo: false
dist: trusty
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system
  - gem update bundler
  - gem --version
  - bundle -v
  - bundle install --without system_tests --path vendor/bundle --jobs $(nproc)
script:
  - 'bundle exec rake $CHECK'
bundler_args: --without system_tests
rvm:
  - 2.4.1
env:
  - PUPPET_GEM_VERSION="~> 6.1" CHECK=spec
matrix:
  fast_finish: true
  include:
    -
      env: CHECK=rubocop
    -
      env: CHECK="syntax lint"
    -
      env: CHECK=metadata_lint
    -
      env: CHECK=spec
    -
      env: PUPPET_GEM_VERSION="~> 5.0" CHECK=spec
      rvm: 2.4.1

branches:
  only:
    - master
    - /^v\d/
notifications:
  email: false
