<%
  cluster_mode = scope['::splunk::cluster_mode']
  ix_clusters  = scope['::splunk::clusters']
  symmkey      = scope['::splunk::symmkey']
  pass4symmkey = scope['::splunk::pass4symmkey']
-%>

<% if cluster_mode != 'none' && cluster_mode !='standby' -%>
# indexer clustering
[clustering]
mode = <%= cluster_mode %>
<% if cluster_mode == 'slave' -%>
master_uri = <% ix_clusters.each do |cm| %>https://<%= cm['uri'] %><%= "," unless cm == ix_clusters.last %><% end %>
pass4SymmKey = <%if pass4symmkey != nil -%><%= pass4symmkey %><% else -%><%= symmkey %><% end -%>
<% elsif cluster_mode == 'searchhead' -%>
master_uri = <% ix_clusters.each do |cm| %>clustermaster:<%= cm['label'] %><%= "," unless cm == ix_clusters.last %><% end %>
<% end -%>
<% if cluster_mode == 'master' -%>
# cluster master config
pass4SymmKey = <%if pass4symmkey != nil -%><%= pass4symmkey %><% else -%><%= symmkey %><% end %>
<% for cm in ix_clusters %>
# cluster config
cluster_label = <%= cm['label'] %>
access_logging_for_heartbeats = <%= cm['access_logging'] %>
max_peer_build_load = <%= cm['build_load'] %>
<% if cm['multisite'] == true -%>
# multi-site cluster
multisite = true
available_sites = <% cm['sites'].each do |site| %><%= site %><%= "," unless site == cm['sites'].last %><% end %>
site_replication_factor =  <%= cm['repl_factor'] %>
site_search_factor = <%= cm['search_factor'] %>
<% else -%>
# single-site cluster
multisite = false
replication_factor = <%= cm['repl_factor'] %>
search_factor = <%= cm['search_factor'] %><% end %><%# end sites for this cluster -%>
<% end -%><%# end index cluster configs -%>
<% end -%><%# end cluster master config -%>

<% if cluster_mode == 'searchhead' -%>
# search head config
<% for cm in ix_clusters %>
[clustermaster:<%= cm['label'] %>]
<% if cm['multisite'] == true -%>
# multi-site cluster
multisite = true
<% else -%>
# single-site cluster
multisite = false
<% end -%><%# end multisite -%>
site = <% cm['sites'].each do |site| %><%= site %><%= "," unless site == cm['sites'].last %><% end %>
master_uri = https://<%= cm['uri'] %>
pass4SymmKey = <%if pass4symmkey != nil -%><%= pass4symmkey %><% else -%><%= symmkey %><% end -%>
<% end -%><%# end index clusters to search -%>
<% end -%><%# end search head config -%>
<% end -%><%# end clustering -%>
