# Puppet Name: <%= @title %>
#
<%
dir = scope['::splunk::dir']
-%>
[default]
host = <%= scope['::hostname'] %>
_meta = input_host::<%= scope['::hostname'] %>

[monitor:/<%= dir %>/var/log/splunk/*.log]
index = _internal
_TCP_ROUTING = *
# _whitelist = /(audit|license_audit|metrics|mongod|python|splunkd|splunkd_stderr|splunkd_stdout|splunklogger)\.log$

[filter:blacklist:splunkvar]
regex1 = ^<%= dir %>/var

[fschange:<%= dir %>]
index = _audit
disabled = false
pollPeriod = 60
recurse = true
followLinks = false
hashMaxSize = -1
fullEvent = false
sendEventMaxSize = -1
filesPerDelay = 10
delayInMills = 100
signedaudit = false
filters = splunkvar
