# Puppet Name: <%= @title %>
#
[<%= @inputtype -%>://<%= @target %>]
_meta = input_host::<%= scope['::hostname'] %> input_name::<%= @title %>
disabled = <%= @disabled %>
<% if @cache && @inputtype != 'monitor' -%>
persistentQueueSize = <%= @size -%>GB
<% end -%>
index = <%= @index %>
<% if @sourcetype != 'auto' then %>sourcetype = <%= @sourcetype %><% end %>
<% if @options != nil -%><% @options.each do |op| -%>
<%= op %>
<% end %><% end -%>
