<%
  servercertpass = scope['splunk::servercertpass']
  servercert = scope['::splunk::servercert']
  ciphersuite = scope['::splunk::ciphersuite']
  ecdhcurves = scope['::splunk::ecdhcurves']
  sslversions = scope['::splunk::sslversions']
  sslclientcert = scope['::splunk::sslclientcert']
  splunknotcp = scope['::splunk::splunknotcp']
  splunknotcp_ssl = scope['::splunk::splunknotcp_ssl']
-%>

[splunktcp://9997]
disabled = <%= splunknotcp %>

[splunktcp-ssl://9998]
disabled = <%= splunknotcp_ssl %>
