# Puppet Name: <%= @title %>
#
<%
hostname = scope['::splunk::serviceurl']
from = scope['::fqdn']
-%>
[email]
inline = 1
mailserver = localhost
<% if hostname != nil -%>
hostname = <%= hostname %>
<% else -%>
hostname = <%= from %>
<% end -%>
from = splunk@<%= from %>
footer.text = If you believe you've received this email in error, please contact <%= scope['::splunk::email'] -%>.\
\
splunk > the engine for machine data
